body{
	/*font-family: 'Roboto', sans-serif;*/

}
@font-face{
	font-family: Acme;
	src:url("Acme/Acme-Regular.ttf") ;

}
@font-face{
	font-family: Varela Round;
	src:url("Varela_Round/VarelaRound-Regular.tff")	;
}
#textoreferenciado{
	font-family: 'Roboto', sans-serif;
}
#textodescargado{
	font-family: 'Acme', sans-serif;
}
#Varela{
	font-family: 'Varela Round', sans-serif;
}